html{
    padding:0;
    margin:0 auto;
}
#head{
  font-family: Helvetica;
font-size: 100px;
font-weight: bold;
color: khaki;
}
.box{
    background-image: url("../photos/pattern.jpg");
    display: flex;
    justify-content: center;
    align-items: center;

}

img{
    height: 30vh;
    width: 15vw;
}

h2{
font-family: Helvetica;
font-size: 32px;
font-weight: bold;
color: white;
}
h3{
    font-family: Helvetica;
}

span{
    font-family: Helvetica;
    font-weight: bold;
    color: blue; 
}
p{
    font-family: Helvetica;
}
#brushes{
    background-color: mediumspringgreen;
}
#frames{

    background-color: lightcoral;
}
#paint{
    background-color: skyblue;
}